In [1]:
%load_ext autoreload
%autoreload 2

In [14]:
import pandas as pd 

from simsity.service import Service
from simsity.indexer import PyNNDescentIndexer
from sklearn.feature_extraction.text import CountVectorizer

from dirty_cat import SuperVectorizer, GapEncoder, SimilarityEncoder

df = pd.read_csv("tests/data/votes.csv")

In [15]:
# The Indexer handles the nearest neighbor search
# The Encoder handles the encoding of the datapoints
service = Service(
    indexer=PyNNDescentIndexer(metric="euclidean"),
    encoder=GapEncoder()
)

# Index the datapoints
service.train_from_dataf(df)

In [16]:
# Query the datapoints
res = service.query(name="khimerc thmas", suburb="chariotte", postcode="28273", n_neighbors=100)
pd.DataFrame([{**r['item'], 'dist': r['dist']} for r in res])

               name       suburb postcode       dist
0     chimerc thmas    chaflotte    28269   2.903653
1     y'phil k'buor    charlotte    28214   3.020421
2    chimerc thomas    charlotte    28269   3.055613
3    khimerc thomas    charlotte    2826g   3.283473
4   yossef masmoudi     carlotte    28277   5.143340
..              ...          ...      ...        ...
95       selmi hill    cove ctiy    28523  14.823339
96      jeffrey cox     fletcher    28732  14.901284
97    anita harrell  willoamston    27897  14.967015
98    jeffrey smith       julian    27283  15.059195
99       mart deese     pembroke    2837z  15.079700

[100 rows x 4 columns]